<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6 p-0">
            <h2 style="text-transform:uppercase; font-size:30px;">Product</h2>
        </div>
        <div class="col-6 text-right" style="text-align:right;">
            <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> 
                 Create New Product
            </a>
        </div>
    </div>
</div>

<table id="tblData" class="table table-bordered table-striped pt-3" style="width:100%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Manufacturer
            </th>
            <th>
                Year
            </th>
            <th>
                Mileage
            </th>
            <th>
                Car Condition
            </th>
            <th>
                Location
            </th>
            <th>
                Price
            </th>
            <th></th>
        </tr>
    </thead>
</table>


@section Scripts{
    <script src="~/js/product.js"></script>
}
